<div class="container">
    <div id="stepper1" class="bs-stepper">
        <div class="bs-stepper-header">
            <div class="step" data-target="#test-l-1">
                <button class="step-trigger">
                    <span class="bs-stepper-circle"><i class="fas fa-boxes"></i></span>
                    <span class="bs-stepper-label">Tipo de Producto</span>
                </button>
            </div>
            <div class="line"></div>
            <div class="step" data-target="#test-l-2">
                <button class="step-trigger">
                    <span class="bs-stepper-circle"><i class="fas fa-info"></i></span>
                    <span class="bs-stepper-label">Información General</span>
                </button>
            </div>
            <div class="line"></div>
            <div class="step" data-target="#test-l-3">
                <button class="step-trigger">
                    <span class="bs-stepper-circle"><i class="fas fa-magic"></i></span>
                    <span class="bs-stepper-label">Estilos</span>
                </button>
            </div>
        </div>
        <div class="bs-stepper-content">
            <form (ngSubmit)="onSubmit()">
                <div id="test-l-1" class="content">
                    <hr>
                    <div class="form-group">
                        <label for="tipo"><i class="fas fa-boxes"></i> Tipo de Producto</label>
                        <select class="form-select form-control" aria-label="Elegir Tipo de Producto"
                        [(ngModel)]="tipo_producto" name="tipo_producto" (change)="consultar_estilos()">
                            <option value="1" selected>Álbumes</option>
                            <option value="2">Audífonos</option>
                            <option value="3">Parlantes</option>
                        </select>
                    </div>
                    <div class="botones_navegacion">
                        <a (click)="anterior()" class="btn btn-secondary m-2">Anterior</a>
                        <a (click)="siguiente()" class="btn btn-primary">Siguiente</a>
                    </div>
                </div>
                <div id="test-l-2" class="content">
                    <hr>
                    <app-audifonos *ngIf="tipo_producto == 1"></app-audifonos>
                    <app-parlantes *ngIf="tipo_producto == 2"></app-parlantes>
                    <app-albumes *ngIf="tipo_producto == 3"></app-albumes>
                    <div class="botones_navegacion">
                        <a (click)="anterior()" class="btn btn-secondary m-2">Anterior</a>
                        <a (click)="siguiente()" class="btn btn-primary">Siguiente</a>
                    </div>
                </div>
                <div id="test-l-3" class="content">
                    <app-sin-estilos *ngIf="estilo=='sin-estilo'"></app-sin-estilos>
                    <app-colores *ngIf="estilo=='colores'"></app-colores>
                    <app-presentaciones *ngIf="estilo=='presentaciones'"></app-presentaciones>
                    <div class="botones_navegacion">
                        <a (click)="anterior()" class="btn btn-secondary m-2">Anterior</a>
                        <a class="btn btn-primary">Crear Producto</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>