<p class="text-center text-muted">Este producto aún no tiene estilos disponibles.</p>
<div class="form-group">
    <label for="tipo"><i class="fas fa-dolly-flatbed"></i>Cantidad del Producto</label>
    <input type="text" class="form-control" placeholder="Título">
</div>
<div class="form-group">
    <label for="tipo"><i class="fas fa-images"></i>Imágenes</label>
    <table class="table">
        <tr>
            <th width="150px"><button type="button" class="btn btn-outline-primary"><i
                        class="fas fa-plus"></i>Agregar Imagen</button>
            </th>
        </tr>
        <tr>
            <td>
                <input type="file" accept="image/png, image/jpeg, image/jpg">
            </td>
            <td>
                <button class="btn btn-outline-danger"><i class="fas fa-trash"></i>Eliminar</button>
            </td>
        </tr>
    </table>
</div>