<div>
    <div class="form-group">
        <label for="celular"><i class="fas fa-phone"></i>Teléfono</label>
        <input class="form-control" type="text" name="celular" placeholder="Teléfono" value="87968585">
    </div>
    <div class="form-group">
        <label for="descripcion"><i class="fas fa-info-circle"></i>Descripción</label>
        <textarea class="form-control" rows="5" name="descripcion"
            placeholder="Descripción"></textarea>
    </div>
    <div class="form-group">
        <label for="sitio_web"><i class="fas fa-link"></i>Sitio Web</label>
        <input class="form-control" type="text" name="sitio_web" placeholder="Sitio Web" value="audiophistic.com">
    </div>
</div>