<div id="bubbles">
    <div class="bubble x1"></div>
    <div class="bubble x2"></div>
    <div class="bubble x3"></div>
    <div class="bubble x4"></div>
    <div class="bubble x5"></div>
</div>
<div class="container-fluid">
    <div class="d-flex justify-content-center">
        <div class="w-100 d-flex justify-content-center align-items-center">
            <form class="login_form">
                <span class="login_form_titulo text-muted">
                    Te enviaremos un correo electrónico para restablecer tu contraseña.
                </span>
                <div class="wrap_input_form">
                    <input class="input_form" type="text" name="email" placeholder="Correo Electrónico">
                    <span class="focus_input_form"></span>
                    <span class="icono_input_form">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="pt-3 d-flex justify-content-center align-items-center">
                    <button class="btn form_btn">
                        Enviar Correo
                    </button>
                </div>

                <div class="text-center pt-3">
                    <a class="txt2" href="/iniciar-sesion">
                        Cancelar
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>