<div class="container">
    <div class="row">
        <div class="col-lg-12 p-5">
            <!-- Shopping cart table -->
            <div class="container">
                <div class="wrapper wrapper-content animated">
                    <div class="mb-3">
                        <span class="pull-right text-muted">(<strong>5</strong>) ítems</span>
                        <h5>Items in your cart</h5>
                    </div>
                    <div class="carrito_contenido">
                        <div class="table-responsive">
                            <table class="table carrito_tabla">
                                <tbody>
                                    <tr>
                                        <td width="90">
                                            <div class="imagen_simulacion">
                                            </div>
                                        </td>
                                        <td class="desc">
                                            <h3>
                                                <a href="#" class="texto_titulo">
                                                    Desktop publishing software
                                                </a>
                                            </h3>
                                            <p class="small w-75">
                                                It is a long established fact that a reader will be
                                                distracted by the readable
                                                content of a page when looking at its layout. The
                                                point of using Lorem Ipsum is
                                            </p>

                                            <div class="m-t-sm">
                                                <a href="#" class=" text-danger"><i class="fa fa-trash"></i>
                                                    Remove item</a>
                                            </div>
                                        </td>
                                        <td width="110">
                                            <input type="number" min="1" class="form-control" placeholder="1">
                                        </td>
                                        <td>
                                            <h3>
                                                $180,00
                                            </h3>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div class="carrito_contenido">
                        <div class="table-responsive">
                            <table class="table carrito_tabla">

                                <tbody>
                                    <tr>
                                        <td width="90">
                                            <div class="imagen_simulacion">
                                            </div>
                                        </td>
                                        <td class="desc">
                                            <h3>
                                                <a href="#" class="texto_titulo">
                                                    Text editor
                                                </a>
                                            </h3>
                                            <p class="small">
                                                There are many variations of passages of Lorem Ipsum
                                                available
                                            </p>

                                            <div class="m-t-sm">
                                                <a href="#" class=" text-danger"><i class="fa fa-trash"></i>
                                                    Remove item</a>
                                            </div>
                                        </td>
                                        <td width="110">
                                            <input type="number" min="1" class="form-control" placeholder="1">
                                        </td>
                                        <td>
                                            <h3>
                                                $180,00
                                            </h3>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div class="carrito_contenido">
                        <div class="table-responsive">
                            <table class="table carrito_tabla">

                                <tbody>
                                    <tr>
                                        <td width="90">
                                            <div class="imagen_simulacion">
                                            </div>
                                        </td>
                                        <td class="desc">
                                            <h3>
                                                <a href="#" class="texto_titulo">
                                                    CRM software
                                                </a>
                                            </h3>
                                            <p class="small">
                                                Distracted by the readable
                                                content of a page when looking at its layout. The
                                                point of using Lorem Ipsum is
                                            </p>

                                            <div class="m-t-sm">
                                                <a href="#" class=" text-danger"><i class="fa fa-trash"></i>
                                                    Remove item</a>
                                            </div>
                                        </td>
                                        <td width="110">
                                            <input type="number" min="1" class="form-control" placeholder="1">
                                        </td>
                                        <td>
                                            <h3>
                                                $180,00
                                            </h3>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div class="carrito_contenido">
                        <div class="table-responsive">
                            <table class="table carrito_tabla">

                                <tbody>
                                    <tr>
                                        <td width="90">
                                            <div class="imagen_simulacion">
                                            </div>
                                        </td>
                                        <td class="desc">
                                            <h3>
                                                <a href="#" class="texto_titulo">
                                                    PM software
                                                </a>
                                            </h3>
                                            <p class="small">
                                                Readable content of a page when looking at its
                                                layout. The point of using Lorem Ipsum is
                                            </p>

                                            <div class="m-t-sm">
                                                <a href="#" class=" text-danger"><i class="fa fa-trash"></i>
                                                    Remove item</a>
                                            </div>
                                        </td>
                                        <td width="110">
                                            <input type="number" min="1" class="form-control" placeholder="1">
                                        </td>
                                        <td>
                                            <h3>
                                                $180,00
                                            </h3>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div class="carrito_contenido">
                        <div class="table-responsive">
                            <table class="table carrito_tabla">

                                <tbody>
                                    <tr>
                                        <td width="90">
                                            <div class="imagen_simulacion">
                                            </div>
                                        </td>
                                        <td class="desc">
                                            <h3>
                                                <a href="#" class="texto_titulo">
                                                    Photo editor
                                                </a>
                                            </h3>
                                            <p class="small">
                                                Page when looking at its layout. The point of using
                                                Lorem Ipsum is
                                            </p>
                                            <div class="m-t-sm">
                                                <a href="#" class=" text-danger"><i class="fa fa-trash"></i>
                                                    Remove item</a>
                                            </div>
                                        </td>
                                        <td width="110">
                                            <input type="number" min="1" class="form-control" placeholder="1">
                                        </td>
                                        <td>
                                            <h3>
                                                $180,00
                                            </h3>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End -->
        </div>
    </div>

    <div class="row py-5 p-4 bg-white rounded">
        <div class="col-lg-6">
            <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Soporte
            </div>
            <div class="p-4">
                <p class="font-italic mb-4">Please contact with us if you have any questions. We are avalible
                    24h.</p>
                <div class="text-center">
                    <h3><i class="fa fa-phone me-2"></i> +43 100 783 001</h3>
                </div>
            </div>
            <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">
                Instructions for seller</div>
            <div class="p-4">
                <p class="font-italic mb-4">If you have some information for the seller you can
                    leave them in the box below</p>
                <textarea name="" cols="30" rows="2" class="form-control"></textarea>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Order
                summary </div>
            <div class="p-4">
                <p class="font-italic mb-4">Shipping and additional costs are calculated based on
                    values you have entered.</p>
                <ul class="list-unstyled mb-4">
                    <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Order
                            Subtotal </strong><strong>$390.00</strong></li>
                    <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Shipping
                            and handling</strong><strong>$10.00</strong>
                    </li>
                    <li class="d-flex justify-content-between py-3 border-bottom"><strong
                            class="text-muted">Tax</strong><strong>$0.00</strong></li>
                    <li class="d-flex justify-content-between py-3 border-bottom"><strong
                            class="text-muted">Total</strong>
                        <h5 class="font-weight-bold">$400.00</h5>
                    </li>
                </ul>
                <a href="/checkout" class="btn form_btn w-50 py-2 btn-block">Procesar Pedido</a>
            </div>
        </div>
    </div>

</div>