<div>
    <div class="form-group">
        <label for="tipo"><i class="fas fa-id-card"></i>Nombre</label>
        <input type="text" class="form-control" placeholder="Nombre" name="nombre" formControlName="nombre"
            class="form-control" required [ngClass]="{ 'is-invalid': submitted && form.nombre.errors }">
        <div *ngIf="submitted && form.nombre.errors" class="invalid-feedback">
            <div *ngIf="form.nombre.errors.required">
                <label class="font-weight-bold"><i class="fa fa-exclamation-circle"></i> El campo
                    de nombre es obligatorio</label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="tipo"><i class="fas fa-phone"></i>Teléfono</label>
        <input type="text" class="form-control" placeholder="Teléfono" name="celular" formControlName="celular"
            class="form-control" required [ngClass]="{ 'is-invalid': submitted && form.celular.errors }">
        <div *ngIf="submitted && form.celular.errors" class="invalid-feedback">
            <div *ngIf="form.celular.errors.required">
                <label class="font-weight-bold"><i class="fa fa-exclamation-circle"></i> El campo
                    de teléfono es obligatorio</label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="tipo"><i class="fas fa-at"></i>Correo Electrónico</label>
        <input type="text" class="form-control" placeholder="Correo Electrónico" name="correo" formControlName="correo"
            class="form-control" required [ngClass]="{ 'is-invalid': submitted && form.correo.errors }">
        <div *ngIf="submitted && form.correo.errors" class="invalid-feedback">
            <div *ngIf="form.correo.errors.required">
                <label class="font-weight-bold"><i class="fa fa-exclamation-circle"></i> El campo
                    de correo es obligatorio</label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="tipo"><i class="fas fa-link"></i>Sitio Web <span class="text-muted">(opcional)</span></label>
        <input type="text" class="form-control" placeholder="Correo Electrónico">
    </div>
    <div class="form-group">
        <label for="tipo"><i class="fas fa-info-circle"></i>Descripción <span class="text-muted">(opcional)</span></label>
        <div class="form-floating">
            <textarea class="form-control" id="floatingTextarea">
            </textarea>
            <label for="floatingTextarea">Descripción</label>
        </div>
    </div>
</div>