<div class="container">
    <div class="card">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="col-md-6">
                    <div id="carouselExample" class="carousel slide w-100" data-bs-ride="carousel"
                        data-bs-interval="3000">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100"
                                    src="https://www.cs.ucy.ac.cy/courses/EPL425/labs/LAB10/slide1.jpg"
                                    alt="First slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100"
                                    src="https://www.cs.ucy.ac.cy/courses/EPL425/labs/LAB10/slide2.jpg"
                                    alt="Second slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100"
                                    src="https://www.cs.ucy.ac.cy/courses/EPL425/labs/LAB10/slide3.jpg"
                                    alt="Third slide">
                            </div>
                        </div>
                        <button class="carousel-control-prev" data-bs-target="#carouselExample" type="button"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" data-bs-target="#carouselExample" type="button"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                </div>
                <div class="col-md-6">
                    <h3 class="titulo">men's shoes fashion</h3>
                    <div class="calificacion d-flex justify-content-start">
                        <div class="stars">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <span class="ps-2 review-no text-muted">(41)</span>
                    </div>
                    <h4 class="precio"><strong>₡ 45,000.00</strong></h4>

                    <form class="form-horizontal" method="post">
                        <fieldset>
                            <div class="control-group ">
                                <label class="control-label pb-2">Colores:</label>
                                <div class="controls colores">
                                    <input type="radio" checked="" value="red" id="red" name="optionsRadios">
                                    <label for="red" class="btn-danger"> </label>

                                    <input type="radio" checked="" value="blue" id="blue" name="optionsRadios">
                                    <label for="blue" class="btn-info"> </label>

                                    <input type="radio" checked="" value="yellow" id="yellow" name="optionsRadios">
                                    <label for="yellow" class="btn-warning"> </label>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label pb-2">Presentaciones:</label>
                                <div class="controls radio-group presentaciones">
                                    <input type="radio" checked="" value="red" id="red2" name="optionsRadios2">
                                    <label for="red2" class="btn btn-light"> CD Audio </label>

                                    <input type="radio" checked="" value="blue" id="blue2" name="optionsRadios2">
                                    <label for="blue2" class="btn btn-light"> Vinilo </label>

                                    <input type="radio" checked="" value="yellow" id="yellow2" name="optionsRadios2">
                                    <label for="yellow2" class="btn btn-light"> MP3 </label>
                                </div>
                            </div>
                        </fieldset>
                    </form>

                    <div class="accion d-flex justify-content-start">
                        <button class="form_btn btn btn-default carrito" type="button">
                            <span class="fas fa-shopping-cart d-sm-block d-md-none"></span>
                            <span class="d-none d-md-block">Añadir al carrito </span></button>
                        <button class="form_btn btn btn-default compartir" type="button"><span
                                class="fas fa-share-alt"></span></button>
                    </div>
                    <div class="autor mt-2">
                        <p>Por: <span class="text-danger">Rodrigo Castro</span></p>
                    </div>
                </div>
            </div>
            <div class="wrapper row mt-3">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                            type="button" role="tab" aria-controls="home" aria-selected="true">Descripción</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                            type="button" role="tab" aria-controls="profile"
                            aria-selected="false">Especificaciones</button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active p-3" id="home" role="tabpanel"
                        aria-labelledby="home-tab">
                        Los intuitivos e inteligentes audífonos WH-1000XM4 te ofrecen nuevas mejoras en la tecnología de
                        noise cancelling líder del sector 1, una calidad de sonido excepcional y funciones de escucha
                        inteligente que se ajustan al entorno y lo que estés haciendo.
                        <ul>
                            <li>El paquete incluye: auriculares inalámbricos Sony WH-1000XM4 con cancelación de ruido
                                (negro), y auriculares inalámbricos deportivos Sony WI-SP500 (negro).
                            </li>
                            <li>Edge-AI: utilizando Edge-AI (inteligencia artificial) co-desarrollado con Sony Music
                                Studios Tokyo, DSEE Extreme (motor de mejora de sonido digital) mejora los archivos de
                                música digitales comprimidos en tiempo real.
                            </li>
                            <li>Instrumentación de reconocimiento dinámico, géneros musicales y elementos individuales
                                de cada canción, como voces o interludos, restaura el sonido de alto rango perdido en
                                compresión para una experiencia de escucha más rica y completa.</li>
                        </ul>
                    </div>
                    <div class="tab-pane fade p-3" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="grid-container">
                            <div class="fw-bold">Marca</div>
                            <div>Sony</div>
                            <div class="fw-bold">Tipo</div>
                            <div>Over Ear, In Ear</div>
                            <div class="fw-bold">Conexión</div>
                            <div>Wireless</div>
                            <div class="fw-bold">Año de lanzamiento</div>
                            <div>2020</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>