<div>
    <div class="form-group">
        <label for="celular"><i class="fas fa-phone"></i>Teléfono</label>
        <input class="form-control" type="text" name="celular" placeholder="Teléfono" value="87968585">
    </div>
    <form class="form-inline">
        <div class="form-group">
            <div class="input-group">
                <input class="form-control" placeholder="dd/mm/yyyy" name="calendario" #calendario="ngModel"
                    [(ngModel)]="modelo" ngbDatepicker #calendario_fecha="ngbDatepicker" placement="left"
                    [positionTarget]="boton_calendario" [minDate]="{year: 1940, month: 1, day: 1}"
                    [maxDate]="{year: ano_actual - 13, month: 12, day: 31}">
                <div class="input-group-append">
                    <button #boton_calendario class="btn btn-outline-secondary fas fa-calendar"
                        (click)="calendario_fecha.toggle()" type="button"></button>
                </div>
            </div>
        </div>
    </form>
    <pre>Model: {{ modelo | json }}</pre>
    <pre>State: {{ calendario.status }}</pre>
</div>