<div class="container-fluid">
    <div class="d-flex justify-content-center">
        <div class="wrap_login">
            <div class="form_imagen">
                <img src="../../../assets/img/playing_sax.jpg">
            </div>
            <form class="login_form">
                <span class="login_form_titulo">
                    Registrarse
                </span>
                <p class="text-muted text-center pb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec
                    nibh vitae...</p>

                <div class="wrap_input_form">
                    <input class="input_form" type="text" name="nombre" placeholder="Nombre">
                    <span class="focus_input_form"></span>
                    <span class="icono_input_form">
                        <i class="fas fa-user" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="wrap_input_form">
                    <input class="input_form" type="text" name="correo" placeholder="Correo Electrónico">
                    <span class="focus_input_form"></span>
                    <span class="icono_input_form">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="wrap_input_form">
                    <input class="input_form" type="password" name="contrasena" placeholder="Contraseña">
                    <span class="focus_input_form"></span>
                    <span class="icono_input_form">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="pt-3">
                    <button class="btn form_btn">
                        Registrarse
                    </button>
                </div>

                <div class="text-center pt-3">
                    <a class="text-muted">¿Ya tiene cuenta?</a>
                    <a class="txt2" href="/iniciar-sesion">
                        Inicie Sesión
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>