.card-img {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.card-title {
    margin-bottom: 0.3rem;
    font-size: 1.2em;
}

.card-footer {
    font-size: 0.8rem;
}

/*Reference: https://codepen.io/cristinaconacel/pen/dgmjKK*/