<div class="card">
    <img class="card-img" src="../../../../assets/img/listening_music.jpg">
    <div class="card-img-overlay">
        <a href="#" class="btn btn-light btn-sm">Cooking</a>
    </div>
    <div class="card-body">
        <h4 class="card-title">Pasta with Prosciutto</h4>
        <p class="card-text">I love quick, simple pasta dishes, and this is one of my favorite.</p>
    </div>
    <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
        <div class="views">Oct 20, 12:45PM
        </div>
    </div>
</div>