<div class="card">
    <img class="card-img" src="../../../../assets/img/listening_music.jpg" alt="Imagen Blog">
    <div class="card-img-overlay">
        <a href="#" class="btn btn-light btn-sm">Clásicos</a>
    </div>
    <div class="card-body">
        <h4 class="card-title">Black Sabbath y el nacimiento del metal</h4>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
        <div class="views">Oct 20, 12:45PM
        </div>
    </div>
</div>