<div class="container-fluid">
    <div class="d-flex justify-content-center">
        <div class="wrap_login">

            <form class="login_form" [formGroup]="sesion_form" (ngSubmit)="iniciar_sesion()">
                <span class="login_form_titulo">
                    Iniciar Sesión
                </span>
                <p class="text-muted text-center pb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec
                    nibh vitae...</p>

                <div class="wrap_input_form">
                    <input class="input_form" type="text" name="correo" placeholder="Correo Electrónico"
                        formControlName="correo" [ngClass]="{ 'is-invalid': submitted && form.correo.errors }">
                    <span class="focus_input_form"></span>
                    <span class="icono_input_form">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="text-center">
                    <div *ngIf="submitted && form.correo.errors" class="text-danger mb-3">
                        <div *ngIf="form.correo.errors.required">
                            <label class="font-weight-bold"><i class="fa fa-exclamation-circle"></i> El
                                campo de correo es obligatorio</label>
                        </div>
                    </div>
                </div>

                <div class="wrap_input_form">
                    <input class="input_form" type="password" name="contrasena" placeholder="Contraseña"
                        formControlName="contrasena" [ngClass]="{ 'is-invalid': submitted && form.contrasena.errors }">
                    <span class="focus_input_form"></span>
                    <span class="icono_input_form">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="text-center">
                    <div *ngIf="submitted && form.contrasena.errors" class="text-danger mb-3">
                        <div *ngIf="form.contrasena.errors.required">
                            <label class="font-weight-bold"><i class="fa fa-exclamation-circle"></i> El
                                campo de contraseña es obligatorio</label>
                        </div>
                    </div>
                </div>

                <div class="pt-3">
                    <button class="btn form_btn" type="submit">
                        Iniciar Sesión
                    </button>
                </div>

                <div class="text-center pt-3">
                    <a class="txt2" href="/recuperar-contrasena">
                        ¿Olvidó su contraseña?
                    </a>
                </div>

                <div class="text-center">
                    <a class="text-muted">¿No tiene cuenta?</a>
                    <a class="txt2" href="/registro">
                        Regístrese
                    </a>
                </div>
            </form>
            <div class="form_imagen">
                <img src="../../../assets/img/playing_sax.jpg">
            </div>
        </div>
    </div>
</div>