<div [formGroup]="audifonos_form">
    <div class="form-group">
        <label for="tipo"><i class="fas fa-heading"></i>Título</label>
        <input type="text" class="form-control" placeholder="Título" name="titulo" formControlName="titulo" required
            [ngClass]="{ 'is-invalid': submitted && form.titulo.errors }">
        <div *ngIf="submitted && form.titulo.errors" class="invalid-feedback">
            <div *ngIf="form.titulo.errors.required">
                <label class="font-weight-bold"><i class="fa fa-exclamation-circle"></i> El campo
                    de título es obligatorio</label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="tipo"><i class="fas fa-coins"></i>Precio<span class="text-muted"> (en colones)</span></label>
        <input type="number" class="form-control" placeholder="Precio" name="precio" formControlName="precio" required
            [ngClass]="{ 'is-invalid': submitted && form.precio.errors }" (blur)="transformar_dinero($event)">
        <div *ngIf="submitted && form.precio.errors" class="invalid-feedback">
            <div *ngIf="form.precio.errors.required">
                <label class="font-weight-bold"><i class="fa fa-exclamation-circle"></i> El campo
                    de precio es obligatorio</label>
            </div>
        </div>
    </div>
    <div>Precio: <span>{{precio}}</span></div>
    <div class="form-group">
        <label for="tipo"><i class="far fa-calendar-alt"></i>Año de lanzamiento</label>
        <input type="number" class="form-control" placeholder="Año de lanzamiento" name="fecha_lanzamiento"
            formControlName="fecha_lanzamiento" required
            [ngClass]="{ 'is-invalid': submitted && form.fecha_lanzamiento.errors }">
        <div *ngIf="submitted && form.fecha_lanzamiento.errors" class="invalid-feedback">
            <div *ngIf="form.fecha_lanzamiento.errors.required">
                <label class="font-weight-bold"><i class="fa fa-exclamation-circle"></i> El campo
                    de año de lanzamiento es obligatorio</label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="tipo"><i class="fas fa-truck-loading"></i>Tiempo de Envío (en días) <span class="text-muted">
                (aprox.)</span></label>
        <input type="number" class="form-control" placeholder="Envío" name="tiempo_envio" formControlName="tiempo_envio"
            required [ngClass]="{ 'is-invalid': submitted && form.tiempo_envio.errors }">
        <div *ngIf="submitted && form.tiempo_envio.errors" class="invalid-feedback">
            <div *ngIf="form.tiempo_envio.errors.required">
                <label class="font-weight-bold"><i class="fa fa-exclamation-circle"></i> El campo
                    de tiempo de envío es obligatorio</label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="descripcion"><i class="fas fa-info-circle"></i>Descripción</label>
        <div class="form-floating">
            <textarea class="form-control" id="descripcion" name="descripcion" formControlName="descripcion" required
                [ngClass]="{ 'is-invalid': submitted && form.descripcion.errors }">
            </textarea>
            <label for="descripcion">Descripción</label>
            <div *ngIf="submitted && form.descripcion.errors" class="invalid-feedback">
                <div *ngIf="form.descripcion.errors.required">
                    <label class="font-weight-bold"><i class="fa fa-exclamation-circle"></i> El campo
                        de descripción es obligatorio</label>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="sub_form_creado" formGroupName="caracteristicas">
        <div class="form-group" formArrayName="marca">
            <label for="tipo"><i class="fas fa-tag"></i>Marca</label>
            <div *ngFor="let marca of marca.controls; let i=index">
                <input type="text" class="form-control" placeholder="Marca" name="marca" [formControlName]="i">
            </div>
        </div>
        <div class="form-group" formArrayName="tipo">
            <label for="tipo"><i class="fas fa-swatchbook"></i>Tipo <span class="text-muted"> e.g. Over Ear, In
                    Ear</span></label>
            <div *ngFor="let tipo of tipo.controls; let i=index">
                <input type="text" class="form-control" placeholder="Tipo" name="tipo" [formControlName]="i">
            </div>
        </div>
        <div class="form-group" formArrayName="conexion">
            <label for="tipo"><i class="fas fa-plug"></i>Conexión <span class="text-muted"> e.g. Bluetooth, 3.5mm
                    Jack</span></label>
            <table class="table">
                <tr>
                    <th width="150px"><button type="button" class="btn btn-outline-primary" (click)="agregar_conexion()"><i
                                class="fas fa-plus"></i>Agregar</button>
                    </th>
                </tr>
                <tr *ngFor="let conexion of conexiones.controls; let i=index">
                    <td>
                        <input type="text" class="form-control bg-white" placeholder="Conexión" [formControlName]="i">
                    </td>
                    <td>
                        <button class="btn btn-outline-danger" (click)="eliminar_conexion(i)"><i class="fas fa-trash"></i>Eliminar</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>